# comment started with '#' at *beginnig* of line

^a.*
    str="string started with 'a'"
    str="second value"

b
    str="'b' in string"

([[:digit:]]+)
    str="first digit \\1=\1"

(([^.]+)\.([^.]+))
    str="fullname=\1 name=\2 (\\1 and \\2)"
    str="fullname=\0 ext=\3 (\\0 and \\3)"
    str="yes, \\0 is matched string"
